<footer class="row-footer">
        <div class="container">
            <div class="row">             
                <div class="col-xs-5 col-xs-offset-1 col-sm-2 col-sm-offset-1">
                    <h5>Links</h5>
                    <ul class="list-unstyled">
                        <li><a ui-sref="app">Home</a></li>
                        <li><a ui-sref="app.about">About</a></li>
                        <li><a ui-sref="app.projects">Projects</a></li>
                        <li><a ui-sref="app.contact">Contact</a></li>
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-5">
                    <h5>My Address</h5>
                    <address>
		              Houston, TX<br>
		              <i class="fa fa-envelope"></i>: 
                         <a href="mailto:rujiezheng124@gmail.com">
                         rujiezheng124@gmail.com</a>
                    </address>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="nav navbar-nav" style="padding: 40px 10px;">
                        <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/rujie.zheng.7"><i class="fa fa-facebook"></i></a>
                        <a class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com/in/rujie-zheng-409718b6"><i class="fa fa-linkedin"></i></a>
                        <a class="btn btn-social-icon" href="mailto: rujiezheng124@gmail.com"><i class="fa fa-envelope-o"></i></a>
                    </div>
                </div>
                <div class="col-xs-12">
                    <p style="padding:10px;"></p>
                    <p align=center>© Copyright by Rujie Zheng</p>
                </div>
            </div>
        </div>
    </footer>